<div class="row m-4">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

<div class="row m-4 text-center justify-content-center">
  <div class="col-md-8">
    <h3>Account Information</h3>

    <form class="form account-form">
      <div class="form-group mt-4">
        <div class="input-group">
          <h4>Name: {{user.name}}</h4>
          <span>
            <button class="btn btn-sm btn-primary" type="button" id="edit-name">Edit</button>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="New Name"
                    id="newName" style="display: none;">
        <button type="submit" class="btn btn-primary m-4" style="display: none;">
          Submit
        </button>
      </div>
      <div class="form-group mt-4">
        <div class="input-group">
          <h4>Username: {{user.username}}</h4>
          <span>
            <button class="btn btn-sm btn-primary" type="button" id="edit-username">Edit</button>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="New Username"
                    id="newUsername" style="display: none;">
        <button type="submit" class="btn btn-primary m-4" style="display: none;">
          Submit
        </button>
      </div>
      <div class="form-group mt-4">
        <div class="input-group">
          <h4>Email: {{user.email}}</h4>
          <span>
            <button class="btn btn-sm btn-primary" type="button" id="edit-email">Edit</button>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="New Email"
                    id="newEmail" style="display: none;">
        <button type="submit" class="btn btn-primary m-4" style="display: none;">
          Submit
        </button>
      </div>
      <div class="form-group mt-4">
        <div class="input-group">
          <h4>Password</h4>
          <span>
            <button class="btn btn-sm btn-primary" type="button" id="edit-password">Edit</button>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="New Password"
                    id="newPassword" style="display: none;">
        <input type="text" class="form-control" placeholder="Confirm New Password"
                    id="confirmNewPassword" onkeyup='verifyPassword();' style="display: none;">
                    <span id="message" ></span>
        <button type="submit" class="btn btn-primary m-4" style="display: none;">
          Submit
        </button>
        </div>
      </div>
    </form>
  </div>

    <div class="row m-4 delete-account justify-content-center">
      <div class="m-2">
        <h4>Delete Account</h4>
      </div>
      <div class="m-2">
        <button class="btn btn-sm btn-danger" data-id="{{user.id}}">
          DELETE
        </button>
      </div>
    </div>
  
</div>

<script src="/js/account.js"></script>
